@import url('https://fonts.cdnfonts.com/css/academy-engraved-let');
@import url('https://fonts.cdnfonts.com/css/wallpaper');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #FFE7D1;
    padding: 0 26px;
}

button{
    align-items:center;
    justify-content: center;
    box-shadow: 5px 5px black;
}

button:hover{
    background-color: #FF9A3C;
    color: #ED4D1B;
    box-shadow: 5px wheat;
    border: 1px #FFE7D1 solid ;
}

a:hover {
    color: #ED4D1B;
}

header {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 90px;
}


header > .logo{
    background-image: url('../images/svg/logoescrito.svg');
    background-repeat: no-repeat;
    width: 126px;
    height: 47px;
}

header > nav {
    display: flex;
    gap: 61px;
}
header > nav > a {
    font-size: 25px;
    font-family: 'Academy Engraved LET', sans-serif;
    color: black;
}

header > button {
    width: 200px;
    height: 48px;
    background-color: #ED4D1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    width: auto;
    height: 800px;
    border: 1px solid black;
}

main > span {
    margin-left: 110.5px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main > span > h2 {
    width: 474px;
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

span > p {
    width: 368px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

span > button {
    width: 225px;
    height: 48px;
    background-color: #ED4D1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid black;
}

main > img {
    width: 60%;
}

.heroArrow {
    display: flex;
    margin-top: -40px;
    margin-left: 140px;
    width: 105px;
    height: 97px;
}

.heroTitle {
    color: #ED4D1B;
}

.heroTextContainer {
    display: flex;
}

.iconTextHero {
    margin-top: -20px;
}

section {
    width: 100%;
    height: 666px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardContainer {
    gap: 33px;
    justify-content: center;
    display: flex;
}

.cardRed{
    display: flex;
    align-items: flex-start;
    background-color: #ED4D1B;
    width: 272px;
    height: 306px;
    margin-top: -30px;
    padding-left: 32px;
    padding-top: 27px ;
    border: 2px solid black;
    box-shadow: 7px 7px black;
    margin-left: 90px;
}

.cardRed> img {
    display: block;    /* Não respeita o flex do pai*/
    align-self: flex-end;
    padding-top: 40px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cardContent > p {
    width: 207px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cardContent > h3{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardContent > img {
    width: 48px;
    height: 48px;
}

.cardYellow{
    display: flex;
    padding-left: 32px;
    padding-top: 27px;
    width: 272px;
    height: 306px;
    background-color: #FF9A3C;
    border: 2px solid black;
    margin-left: 90px;
    box-shadow: 7px 7px black ;
}

.cardYellow> img {
    display: block;    /* Não respeita o flex do pai*/
    align-self: flex-end;
    padding-top: 40px;
}

section > span{
    display: flex;
    justify-content: center;
}

section > span > h2 {
    display: flex;
    gap: 10px;
    font-size: 64px;
    padding-top: 106px;
    padding-bottom: 34px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

section > button{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 225px;
    height: 48px;
    color:white;
    font-size: 20px;
    margin-bottom: 34px;
    background-color: #ED4D1B;

    box-shadow: 7px 7px black;
}

footer {
    display: flex;
    padding-top: 63px;
    border: 1px solid black;
    
}

.logoText {
    display: flex;
    margin-left: 113.5px;
    flex-direction: column;
    margin-bottom: 123px;
}

.logoText > img {
    width: 133px;
    height: 65px;
    margin-bottom: 32px;
}

.logoText > span {
    width: 272px;
    height: 115px;
    box-sizing: border-box;
}

.logoText > span > p{
    font-size: 20px;
}

footer > nav{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 208px;
    margin-left: 385.5px;
    gap: 32px;
}

footer > nav > a{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.send {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 150px;

}
.send > p {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    width: 464px;

}

.send > input {
    width: 560px;
    height: 48px;
    box-shadow: 7px 7px black ;
    font-size: 24px;
    padding-left: 5px;
}

.send > button{
    width: 225px;
    height: 48px;
    box-shadow: 5px 5px black;
}

@media (max-width: 576px){
    body {
        padding: 0px 16px;
    }
    
    header{
        display: flex;
        justify-content: center;
        height: 264px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    
    header > .logo{
        background-image: url('/src/images/svg/logoMobile.svg');
        background-repeat: no-repeat;
        margin: 0px;
        width: 106px;
        margin-left: 0px;
    }
    
    header > nav{
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
    }

    header > nav > a {
        font-size: 20px;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    header > button{
        width: 200px;
        height: 48px;
    }

    main{
        flex-direction: column-reverse;
        height: auto;
    }
    main > span{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        margin-left: 0px;
    }
    
    main > span > h2 {
        font-size: 48px;
        width: auto;
    }
    main > span > p {
        font-size: 20px;
        width: 280px;
        font-weight: bold;
    }

    main > span > button {
        margin-left: -40px;
        width: 200px;
        height: 48px;
    }

    main > img {
        width: 100%;
        margin-top: 32px;
    }

    .heroArrow{
        margin-bottom: 100px;
    }

    .cardContainer{
        flex-direction: column;
        gap: 20px;
        display: grid;
        margin-top: -50px;
    }

    .cardRed {
        margin-left: -8px;
        margin-top: 0px;
    }

    .cardYellow {
        margin-left: 0px;
        margin-top: 0px;
    }

    section {
        align-items: center;
        height: 1601px;
        height: auto;
    }

    section > span > h2 {
        font-size: 40px;
        margin-bottom: 32px;
    }

    section > button {
        margin-top: 0px;
        margin-bottom: 122px;
    }

    footer {
        width: 100%;
        height: 661px;
        padding-top: 16px;
        gap: 48px;   
        flex-direction: column;
    }


    .logoText{
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .logoText > img {
        width: 106px;
        height: 53px;
        margin-bottom: 16px;
    }

    .logoText > span > p{
        font-size: 16px;
        font-weight: bold;
        width: 280px;
        height: 76px;
    }

    .logoText > span{
        height: 70px;
    }

    footer > nav{
        width: 71px;
        height: 188px;
        margin-left: 40px;
    }
    footer > nav > a {
        font-size: 20px;
    }
    .send {
        margin-left: 40px;
        gap: 16px;

    }
    .send > p {
        width: 272px;
    }

    .send > input {
        width: 272px;
        height: 48px;
        box-shadow: 7px 7px black ;
        font-size: 24px;
        padding-left: 5px;
    }
}